{% extends "base.html" %}
{% load staticfiles %}
{%  block carousel %}

    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <img src="{% static "img/Carousel1.png" %}" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Welcome to Atlas</h1>
              <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            </div>
          </div>
        </div>
      <!--
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
      -->
    </div>

{% endblock %}

{% block body %}

<div class="span4">
  <img class="img-circle" data-src="holder.js/140x140">
  <h2>Projects</h2>
  <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
  <p><a class="btn btn-primary btn-large" href="project/">View Projects &raquo;</a></p>
</div><!-- /.span4 -->
<div class="span4">
  <img class="img-circle" data-src="holder.js/140x140">
  <h2>Samples</h2>
  <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
  <p><a class="btn btn-primary btn-large" href="sample/">View Samples &raquo;</a></p>
</div><!-- /.span4 -->
<div class="span4">
  <img class="img-circle" data-src="holder.js/140x140">
  <h2>Analyses</h2>
  <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
  <p><a class="btn btn-primary btn-large" href="analysis">View Analyses &raquo;</a></p>
</div>

{% endblock %}

