{% extends "base.html" %}
{% load staticfiles %}

{% block alert %}
<div id="successAlert" class="row-fluid hide">
    <div class="alert alert-success">
        <button class="close" data-dismiss="alert" type="button">x</button>
        <strong>Congrats!</strong>
        &nbsp;Analysis was successfully submitted.
    </div>
</div>
{% endblock %}


{% block body %}
<div class="container-fluid">
    <div class="row-fluid" style="padding-top: 25px">
        <div class="hero-unit">
            <h1>Analyses</h1>
            <p>Analyses are pipelines applied to a specific set of input files. Here are a list of current analyses. Click on a analysis to see more information.</p>
        </div>

        {% if analyses %}
            <table id="analysis_table" class="table display">
                <thead><tr><th>Name</th><th>Type</th><th>Date Launched</th><th>Status</th></tr></thead>
                <tfoot><tr><th>Name</th><th>Type</th><th>Date Launched</th><th>Status</th></tr></tfoot>
                <tbody>
                    {% for analysis in analyses %}
                        <tr><td><a href="{% url 'analysis:detail' analysis.id %}">{{ analysis.name }}</a></td><td>{{ analysis.type }}</td><td>{{ analysis.date }}</td><td>{{ analysis.status }}</td></tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>Currently there are no samples associated with this project.</p>
        {% endif %}
    </div><!--/span-->
</div><!--/.fluid-container-->




{% endblock %}

{% block scripts %}
    <script>

        $(document).ready(function(){
            $('#analysis_table').dataTable();
        });


    </script>
{% endblock %}v