{% extends "base.html" %}
{% load staticfiles %}

{% block body %}
<div class="container-fluid">
    <div class="row-fluid" style="padding-top: 25px">
        <div class="hero-unit">
            <h1>{{ file.name }}</h1>
            <p>{{ file.description }}</p>
        </div>

        <ul class="nav nav-pills">
            <li id="summary_link" class="active"><a onclick="showDiv('summary_div', 'summary_link'); hideDivs('sample_div', 'analyse_div', 'sample_link', 'analyse_link')" href="#">Summary</a></li>
            <li id="sample_link"><a onclick="showDiv('sample_div', 'sample_link'); hideDivs('summary_div', 'analyse_div', 'summary_link', 'analyse_link')" href="#">Samples</a></li>
            <li id="analyse_link"><a onclick="showDiv('analyse_div', 'analyse_link'); hideDivs('sample_div', 'summary_div', 'sample_link', 'summary_link')" href="#">Analyses</a></li>
        </ul>
    </div>

    <div id="summary_div">
        <h1>Summary</h1>

        <div class="row-fluid span12" style="padding-top: 15px">
            <div class="span4">
                <img class="img-circle" data-src="holder.js/140x140">
                <h2>Graph 1</h2>
                <p>Donec sed odio dui.</p>
            </div><!-- /.span4 -->
            <div class="span4">
                <img class="img-circle" data-src="holder.js/140x140">
                <h2>Graph 2</h2>
                <p>Donec sed odio dui.</p>
            </div><!-- /.span4 -->
            <div class="span4">
                <img class="img-circle" data-src="holder.js/140x140">
                <h2>Graph 3</h2>
                <p>Donec sed odio dui.</p>
            </div>
        </div>

    </div>
    <div id="sample_div" style="visibility: hidden; display: none">
        <h1>Samples</h1>

        {% if samples %}
            <table id="sample_table" class="table display">
                <thead><tr><th>Name</th><th>Metric 1</th><th>Metric 2</th></tr></thead>
                <tfoot><tr><th>Name</th><th>Metric 1</th><th>Metric 2</th></tr></tfoot>
                <tbody>
                    {% for sample in samples %}
                        <tr><td><a href="{% url 'sample:detail' sample.sample.id %}">{{ sample.sample.name }}</a></td><td></td><td></td></tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>Currently there are no samples associated with this project.</p>
        {% endif %}
    </div>
    <div id="analyse_div" style="visibility: hidden; display: none">
        <h1>Analyses</h1>

        {% if analyses %}
            <table id="analysis_table" class="table display">
                <thead><tr><th>Name</th><th>Type</th><th>Date Launched</th><th>Status</th></tr></thead>
                <tfoot><tr><th>Name</th><th>Type</th><th>Date Launched</th><th>Status</th></tr></tfoot>
                <tbody>
                    {% for analysis in analyses %}
                        <tr><td><a href="{% url 'analysis:detail' analysis.id %}">{{ analysis.name }}</a></td><td>{{ analysis.type }}</td><td>{{ analysis.date }}</td><td>{{ analysis.status }}</td></tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>Currently there are no samples associated with this project.</p>
        {% endif %}
    </div>
</div><!--/.fluid-container-->
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function(){
            $('#sample_table').dataTable();
            $('#analysis_table').dataTable();
        });

        function showDiv(divName, linkName){
            document.getElementById(divName).style.visibility = "visible";
            document.getElementById(divName).style.display = "inline";
            document.getElementById(linkName).className = "active";
        }

        function hideDivs(divName1, divName2, linkName1, linkName2){
            document.getElementById(divName1).style.visibility = "hidden";
            document.getElementById(divName1).style.display = "none";
            document.getElementById(linkName1).className = "";
            document.getElementById(divName2).style.visibility = "hidden";
            document.getElementById(divName2).style.display = "none";
            document.getElementById(linkName2).className = "";
        }
    </script>
{% endblock %}v